<p id="notice"><%= notice %></p>

<h1>Mail Templates</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mail_templates.each do |mail_template| %>
      <tr>
        <td><%= link_to 'Show', mail_template %></td>
        <td><%= link_to 'Edit', edit_mail_template_path(mail_template) %></td>
        <td><%= link_to 'Destroy', mail_template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mail Template', new_mail_template_path %>
