- r_json=@result.submission_overview_json(nil)
%h1 Clinical Trial Results
%h2 Overview
%h2=r_json[:summary][:submitted_date]
- if r_json[:summary][:title].to_s != ""
  %h2 Title
  %p=r_json[:summary][:title]
- if r_json[:summary][:authors].size > 0
  %h2 Authors
  - r_json[:summary][:authors].each do |auth| 
    %p="#{auth[:first_name]} #{auth[:last_name]}"
- if r_json[:summary][:identifier].to_s != ""
  %h2 ClinicalTrials.gov Identifier
  %p=r_json[:summary][:identifier]
- if r_json[:summary][:sponsor].to_s != ""
  %h2 Sponsor(s)
  %p=r_json[:summary][:sponsor]
- if r_json[:summary][:pi].size > 0
  %h2 Principal Investigator
  - r_json[:summary][:pi].each do |pi| 
    %p="#{pi[:first_name]} #{pi[:last_name]}"
%h2 IRB Approved
%p=r_json[:summary][:irb_approved] ? "Yes" : "No"
%h2 Disclosure
%h1 Author Summary: Abstract and Brief Discussion
- if r_json[:author_summary][:lessons_learned].to_s != ""
  %h2 Lessons Learned
  %p=r_json[:author_summary][:lessons_learned]
- if r_json[:trial_information].to_s != ""
  %h1 Trial Information
  - if r_json[:trial_information][:diseases].size > 0
    %h2 Disease
    - r_json[:trial_information][:diseases].each do |disease| 
      %p=disease
  - if r_json[:trial_information][:stage_of_disease_or_treatment].to_s != ""
    %h2 Stage of disease / treatment
    %p=r_json[:trial_information][:stage_of_disease_or_treatment]
  - if r_json[:trial_information][:prior_therapy].to_s != ""
    %h2 Prior Therapy
    %p=r_json[:trial_information][:prior_therapy]
  - if r_json[:trial_information][:study_phase].to_s != ""
    %h2 Type of study - 1
    %p=r_json[:trial_information][:study_phase]
  - if r_json[:trial_information][:type_of_study_2].to_s != ""
    %h2 Type of study - 2
    %p=r_json[:trial_information][:type_of_study_2]
  - if r_json[:trial_information][:endpoints_details].to_s != ""
    %h2 Additional Details of Endpoints or Study Design
    %p=r_json[:trial_information][:endpoints_details]
  - if r_json[:trial_information][:investigators_assessment].to_s != ""
    %h2 Investigator's Analysis
    %p=r_json[:trial_information][:investigators_assessment]
- arms=@result.arms
- if arms.size > 0
  - arms.each do |arm|
    %h1="Drug Information for Phase #{arm[:phase]} #{arm[:name]}"
    - ctr=1
    - arm.drugs.each do |drug|
      %h2="Drug #{ctr}"
      - if drug[:generic_name].to_s != ""
        %h3 Generic/Working name
        %p=drug[:generic_name]
      - if drug[:trade_name].to_s != ""
        %h3 Trade Name
        %p=drug[:trade_name]
      - if drug[:company_name].to_s != ""
        %h3 Company Name
        %p=drug[:company_name]
      - if drug[:drug_type].to_s != ""
        %h3 Drug Type
        %p=drug[:drug_type]
      - if drug[:drug_class].to_s != ""
        %h3 Drug Class
        %p=drug[:drug_class]
      - if drug[:dose].to_s != ""
        %h3 Dose
        %p=drug[:dose]
      - if drug[:route].to_s != ""
        %h3 Route
        %p=drug[:route]
      - if drug[:schedule].to_s != ""
        %h3 Schedule of Administration
        %p=drug[:schedule]
      - ctr=ctr+1
    %h1="Patient Characteristics for Phase #{arm[:phase]} #{arm[:name]}"
    - if arm[:patient_male].to_s != ""
      %h2 Number of patients, male
      %p=arm[:patient_male]
    - if arm[:patient_female].to_s != ""
      %h2 Number of patients, female
      %p=arm[:patient_female]
    - if arm[:patient_stage].to_s != ""
      %h2 Stage
      %p=arm[:patient_stage]
    - if arm[:patient_age].to_s != ""
      %h2 Age
      %p="Median (range):#{arm[:patient_age]}"
    - if arm[:patient_median_therapies].to_s != ""
      %h2 Number of prior systemic therapies
      %p="Median (range):#{arm[:patient_median_therapies]}"
    - if arm[:patient_performance].to_s != ""
      %h2 Performance Status: ECOG
      %h3="•   0 — #{arm[:patient_performance]["0"].to_i}"
      %h3="•   1 — #{arm[:patient_performance]["1"].to_i}"
      %h3="•   2 — #{arm[:patient_performance]["2"].to_i}"
      %h3="•   3 — #{arm[:patient_performance]["3"].to_i}"
      %h3="•   Unknown — #{arm[:patient_performance]["unknown"].to_i}"
    - if arm[:patient_other].to_s != ""
      %h2 Other
      %p=arm[:patient_other]
    - if arm[:patient_cancer_types].size > 0
      %h2 Cancer Types or Histologic Subtypes
      - arm[:patient_cancer_types].each do |cancer|
        %h3="•   #{cancer[:name]} — #{cancer[:number]}"
    - primary_arm_assessments = arm.assessments.where(key:"primary")
    - if primary_arm_assessments.size > 0
      %h1="Primary Assessment Method for Phase #{arm[:phase]} #{arm[:name]}"
      - primary_arm_assessments.each do |a|
        %h2 Title
        %p=a.title
        %h2 Number of patients evaluable for toxicity
        %p=a.number_of_patients[:evaluable]
        %h2 Number of patients evaluated for efficacy
        %p=a.number_of_patients[:evaluated]
        %h2 Response assessment CR
        %p="N = #{a.response_assessment[:cr_n]}"
        %p=a.response_assessment[:cr]
        %h2 Response assessment PR
        %p="N = #{a.response_assessment[:pr_n]}"
        %p=a.response_assessment[:pr]
        %h2 Response assessment SD
        %p="N = #{a.response_assessment[:sd_n]}"
        %p=a.response_assessment[:sd]
        %h2 Response assessment PD
        %p="N = #{a.response_assessment[:pd_n]}"
        %p=a.response_assessment[:pd]
        %h2 Response assessment OTHER
        %p="N = #{a.response_assessment[:other_n]}"
        %p=a.response_assessment[:other]
    - secondary_arm_assessments = arm.assessments.where(key:"secondary")
    - if secondary_arm_assessments.size > 0
      %h1="Secondary Assessment Method for Phase #{arm[:phase]} #{arm[:name]}"
      - secondary_arm_assessments.each do |a|
        %h2 Title
        %p=a.title
        %h2 Number of patients evaluable for toxicity
        %p=a.number_of_patients[:evaluable]
        %h2 Number of patients evaluated for efficacy
        %p=a.number_of_patients[:evaluated]
        - response_assessment = a.response_assessment
        - if response_assessment.to_s != ""
          %h2 Response assessment CR
          %p="N = #{response_assessment[:cr_n]}"
          %p=response_assessment[:cr]
          %h2 Response assessment PR
          %p="N = #{response_assessment[:pr_n]}"
          %p=response_assessment[:pr]
          %h2 Response assessment SD
          %p="N = #{response_assessment[:sd_n]}"
          %p=response_assessment[:sd]
          %h2 Response assessment PD
          %p="N = #{response_assessment[:pd_n]}"
          %p=response_assessment[:pd]
          %h2 Response assessment OTHER
          %p="N = #{response_assessment[:other_n]}"
          %p=response_assessment[:other]
    - arm_events = arm.events_tables
    - if arm_events.size > 0
      %h1="Phase #{arm[:phase]} #{arm[:name]} Adverse Events"
      - arm_events.each do |table|
        %h2="#{table.subtitle}"
        %table
          %tbody
            %tr
              %th Name
              %th *NC/NA
              %th 1
              %th 2
              %th 3
              %th 4
              %th 5
              %th All Grades
            - table.events.each do |e|
              %tr
                %td= e.name
                %td= e.no_change
                %td= e.grade_1
                %td= e.grade_2
                %td= e.grade_3
                %td= e.grade_4
                %td= e.grade_5
                %td= e.total
        %h2 Adverse Events Legend
        %p= table.legend
    - dlt=arm[:dose_limiting_toxicities]
    - if dlt.to_s != ""
      %h1="Pharmacokinetics/Pharmacodynamics for Phase #{arm[:phase]} #{arm[:name]}"
      %table
        %tbody
          %tr
            %th Dose Level
            %th Number Enrolled
            %th Cmax (μg/L) mean ± SD
            %th T max(h) (min - max)
            %th AUC 0-12 (h*12μg/L) mean ± SD
            %th T ½(h) mean ± SD
            %th CI F (L/h) mean ± SD
          %tr
            %td= dlt[:dose_level]
            %td= dlt[:enrolled]
            %td= dlt[:cmax_mean]
            %td= dlt[:tmax_range]
            %td= dlt[:auc]
            %td= dlt[:t_mean]
            %td= dlt[:cif_mean]
%h1 Assessment, Analysis, and Discussion
- if r_json[:completed_or_terminated].to_s != ""
  %h2 Completion
  %p= r_json[:completed_or_terminated]
- if r_json[:investigators_assessment].to_s != ""
  %h2 Investigator's Assessment
  %p= r_json[:investigators_assessment]
- if r_json[:discussion].to_s != ""
  %h2 Discussion
  %p= r_json[:discussion]
- if r_json[:references].to_s != ""
  %h2 References
  %p= r_json[:references]
%h1 Figures and Tables
%h2 Print Figures
%h2 Other Figures
%p=r_json[:figures]