.results-main#results_main
  %p Current user role: #{@role}
  %p # of Regular Users: #{@regulars.length}
  %p # of Admins Users: #{@admins.length}
  %p # of Editors Users: #{@editors.length}
  %p # of Co-Authors Users: #{@co_authors.length}

  #results-welcome-text