.header{class: "#{@role}"}
  .name-container
    %p Welcome #{current_user ? current_user.name : "Guest"}
  - if current_user
    = link_to "Sign out", destroy_user_session_path, :method => :get, class: "logout-button"
  - else
    = link_to "Sign In", new_user_session_path, method: :get, class: "signin-button"
.alert-container
  - if notice
    %p.alert.alert-success= notice
  - if alert
    %p.alert.alert-danger= alert